<br>
<!-- Archivo: /views/index.ejs -->
<!-- P치gina de bienvenida. Es la que aparece por defecto al arrancar o bien cuando pulsamos en el enlace: Inicio -->
<!-- Est치 vinculada al archivo: routes/index.js, y a la funci칩n: "router.get('/',.."  -->

<h3>Bienvenido a <%= title %></h3>
<p>El portal donde podr치 crear sus propios juegos! </p>

