<!-- Archivo: /views/quizes/answer.ejs  -->
<!-- Est치 vinculado al archivo: controllers/quiz_controller.js y funci칩n: "exports.answer..." -->
<!-- Est치 vinculado al archivo: routers/index.js -->
<!-- Muestras si es correcto o incorrecto al respuesta y permite volver a p치gina anterior de consulta -->


<p>
        <%= respuesta %> 
        <a href="/quizes/<%= quiz.id %>"> Volver </a> 
</p>
