<! --Archivo: /views/quizes/index.ejs -->
<!-- Pequeña explicación: -->
<!-- La primera vez muestra la base de datos completa, y te permite que introduzca un valor de búsqueda-->
<!-- Se realiza la búsqueda y muestra el resultado -->
<!-- Está vinculada al archivo: controllers/quiz_controller.js y  función: "exports.index..." -->
<!-- Está vinculada al archivo: routers/index.js -->

	<form method="get" action="/quizes">	
		<input type="text" name="search" value="Busque una Pregunta">
		<input type="submit" value="Buscar">
	</form>
<table>
	<% var i; for (i=0;i< quizes.length;i++) {%>
		<tr><td><a href="quizes/<%=quizes[i].id%>"><%=quizes[i].pregunta%></a></td></tr>
		<tr><td><a href="quizes/<%=quizes[i].id%>/edit"><button>editar</button></a></td></tr>
	<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

