<!--Archivo: /views/quizes/show.ejs -->
<!--Está vinculado al archivo: controllers/quiz_controller.js, y función: "exports.show" -->
<!--Está vinculado al archivo: routers/index.js -->

<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>
